
body{
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: url(https://i.pinimg.com/originals/09/64/25/09642539eb8b3ab544b2f33848b0c67a.jpg);
}

.grid-wrapper{
   margin-left: 15%;
   margin-right: 15%;
    display: grid;
    width: 60vw;
    height: 120vh;
    background-color: white;
    padding: 40px;
    align-content: right;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "logo      logo      logo      logo      logo" 
        "NavBar    NavBar    NavBar    NavBar    NavBar"
        "img       img       img       img       NewsFeed"
        "img       img       img       img       NewsFeed"
        "img       img       img       img       NewsFeed"
        "img       img       img       img       Contact"
        "Welcome   Welcome   Welcome   C         Contact";
}

header{
    grid-area: NavBar;
}

.logo{
    grid-area: logo;
    background-color: white;
}

.img{
    grid-area: img;
    background-color: transparent;
    padding-right: 20px;

    max-width: 100%;

}

img {
    max-width: 100%;
}
.NewsFeed{
    grid-area: NewsFeed;
    display: block;
    border: 8px;
    margin-right: 10px;
    justify-content: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

h2{
    font-style: italic;
    font-size: medium;
}

.scrollbar{
    border: 1px solid rgb(250, 247, 247);
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 250px;
    height: 360px;
    background-color: rgb(122, 21, 41);
}

.Welcome{
    grid-area: Welcome;
    display: block;
    margin-top: 55vh;
    margin-bottom: 13vh;
    border: 8px;
    font-size: small;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* translate: (0vw,15vh); */
}

.Welcome>p{
    font-size: small;
    justify-content: left;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.NavBar ul {
        list-style-type: none;
        border: 20px;
        font-size: .6em;
        font-family: Helvetica;
        padding: 5px;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
      }

     
li {
    display: inline;
    padding: 15px;
      }

li a{
    text-decoration: none;
    color: black;
      }

.Contact{
    grid-area: Contact;
    display: block;
    margin-top: 45vh;
    font-size: x-small;
    padding: 89px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: left;
}

