body{
    background-image: url(https://media.istockphoto.com/photos/wooden-texture-background-picture-id186850374?k=6&m=186850374&s=612x612&w=0&h=nDmtspov2ADEa7m-VTAN1jo5cms7WLhBHzd33_3UiAY=);
    background-size: cover;
}

.grid-wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    width: 60%;
    height: 100%;

    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
        "header    header    header" 
        "NavBar    NavBar    NavBar"
        "middle    middle    middle"
        "footer    footer    footer";
}

.header{
    grid-area: header;
    background-color: white;
}
.NavBar{
    grid-area: NavBar;
    background-color: white;
}
.middle{
    grid-area: middle;
    background-color: white;
}

