body{
    background-image: url(https://i.pinimg.com/originals/09/64/25/09642539eb8b3ab544b2f33848b0c67a.jpg);
}

.grid-wrapper{
    display: grid;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    width: 60vw;
    height: 120vh;
    background-color: white;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    border: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-areas: 
    "header     header"
    "box-text   plaintext"
    "box-text   rectangles"
    "footer     footer";
}

Header{
    grid-area: header;
    height: 70px;
    margin: 30px;
}

/* Navigation Bar */
.hr1{
    border-color: black;
    margin-inline-start: 3px;
    margin-inline-end: 10px;
    margin-bottom: 7px;
}
.hr2{
    border-color: black;
    margin-inline-start: 3px;
    margin-inline-end: 10px;
    margin-bottom: 7px;
}

.who-box{
    grid-area: box-text;
    background-color: maroon;
    margin-left: 30px;
}

h3{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    color: white;
    font-family: Helvetica;
    font-size: 1em;
}

hr {
    unicode-bidi: isolate;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 45px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h4 {
    margin-inline-start: 10px;
    color: white;
    font-family: Helvetica;
    font-size: .8em;
}

h5 {
    font-size: 0.7em;
    margin-block-start: 0.6em;
    margin-block-end: -2.2em;
    margin-inline-start: 10px;
    color: white;
    font-family: Helvetica;
}

.sub{
    color: white;
    font-family: Helvetica;
    font-size: .7em;
}

.lit{
    color: white;
    font-family: Helvetica;
    font-size: .7em;
}
.biz{
    color: white;
    font-family: Helvetica;
    font-size: .7em;
}

#redbox_pic{
    border: 0.1em solid white;
    margin-inline-start: 13px;
    margin-inline-end: 10px;
    margin-bottom: -10px;
}

.who-text{
    grid-area: plaintext;
}

p{
    color: black;
}

.rectangles{
    grid-area: rectangles;
    background-color: seagreen;
    
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2px;

}

@media screen and (min-width:960px){

    .boxes{
    height: 600px;
    }

    .box{
        height: 50%;
    }


}
.boxes{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
} 
.box{
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
position: relative;
} 

.footer{
    grid-area: footer;
    background-color: white;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    border: 20px;
    font-size: 15px;
    font-family: Helvetica;
    text-align: center;
    padding: 5px 10px;
}
.navbar ul {
    list-style-type: none;
    border: 30px;
    font-size: 15px;
    font-family: Helvetica;
    text-align: center;
    padding: 5px 10px;
  }
  li {
    display: inline;
    
  }
  li a{
      text-decoration: none;
      color: black;

  }
.hr3{
    grid-area: footer;
    border-color: black;
    margin-inline-start: 3px;
    margin-inline-end: 10px;
    margin-top: 7px;
}
.copyright{
    grid-area: footer;
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
}