body{
    background-image: url(https://i.pinimg.com/originals/09/64/25/09642539eb8b3ab544b2f33848b0c67a.jpg);
}

.grid-wrapper{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    width: 60vw;
    height: 100vh;
    background-color: white;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 20% 50% 10%;
    grid-template-areas: 
    "header     header"
    "box-text   plaintext"
    "box-text   rectangles"
    "footer     footer"
    ;

}

header{
    grid-area: header;
}

/* Navigation Bar */
.navbar ul {
    list-style-type: none;
    border: 20px;
    font-size: .6em;
    font-family: Helvetica;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5px;
  }
  li {
    display: inline;
    
  }
  li a{
      text-decoration: none;
      color: black;

  }



.who-box{
    grid-area: box-text;
    background-color: maroon;
}

.who-text{
    grid-area: plaintext;
}

.rectangles{
    grid-area: rectangles;
    background-color: orangered;
}

.rectangles .grid-wrapper{
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
    grid-area:  "bx1 bx2"
                "bx3 bx4"
                "bx5 bx6";
}

.bx1{
    grid-area: bx1;
    background-color: cornflowerblue;
}
.bx2{
    grid-area: bx2;
    background-color: cornflowerblue;
}
.bx3{
    grid-area: bx3;
    background-color: cornflowerblue;
}
.bx4{
    grid-area: bx4;
    background-color: cornflowerblue;
}
.bx5{
    grid-area: bx5;
    background-color: cornflowerblue;
}
.bx6{
    grid-area: bx6;
    background-color: cornflowerblue;
}

.footer{
    grid-area: footer;
    background-color: chocolate;
}

